<app-navbar></app-navbar>
<section class="bridg_sect">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 m-auto">
        <div class="bridg_wrapp">
          <h3>Alpha cross-chain bridge</h3>
          <p>Protocol fess distributed to dLP lockers will differ chain by chain, depending on borrower interest.
            With our native omnichain bridge, you can seamlessly move Alpha cross-chain to hunt for optimal strategies.
          </p>
          <div class="frm_brg">
            <div class="frm_grp">
              <div class="hd_bx">
                <p><span>Bridge Alpha</span></p>
                <div class="user_avtar">
                  <div class="icon"><img src="assets/images/ic2.png" alt=""></div>
                  <div class="cont_bx">
                    <h3 *ngIf="connected">{{balance}} MATIC</h3>
                    <h3 *ngIf="!connected">0.00 MATIC</h3>
                  </div>
                </div>
              </div>
              <div class="amt_frm">
                <input type="text" name="" id="" [(ngModel)]="amount" placeholder="" class="form-control">
                <div class="user_avtar">
                  <div class="icon"><img src="assets/images/ic2.png" alt=""></div>
                </div>
                <span class="max_txt">MAX</span>
              </div>

            </div>
            <div class="frm_grp">
              <div class="hd_bx">
                <p><span>Sent to</span></p>
              </div>
              <div class="amt_frm">
                <div class="wrapper-dropdown" id="dropdown">
                  <span class="selected-display" id="destination"><span><img src="#"
                        alt=""><span>{{networkName}}</span></span></span>
                  <svg class="arrow" id="drp-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg" class="transition-all ml-auto rotate-180">
                    <path d="M7 14.5l5-5 5 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                  <ul class="dropdown">
                    <li class="item" (click)="switchNetwork('Select Network')"><span><img src="#" alt=""></span>Select
                      Network</li>
                    <li class="item" (click)="switchNetwork('Arbitrum')"><span><img src="#" alt=""></span>Arbitrum</li>
                  </ul>
                </div>
              </div>
              <div class="hd_bx">
                <p><span>Fee</span></p>
                <div class="user_avtar">
                  <div class="icon"><img src="assets/images/ic2.png" alt=""></div>
                  <div class="cont_bx">
                    <h3 *ngIf="networkName=='Arbitrum'">{{fees}}</h3>
                    <h3 *ngIf="networkName!='Arbitrum'">0.00</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn" *ngIf="!connected">Connect Wallet</button>
          <button class="btn" *ngIf="!showSpinner && connected" (click)="openDialog()">Bridge Alpha</button>
          <button class="btn" *ngIf="showSpinner">
            <mat-spinner style="margin:0 auto; height:20px;width:20px;"></mat-spinner>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeDialog()">&times;</span>
    <form [formGroup]="Form">
      <h2>Destination Address:</h2>
      <input type="text" formControlName="DstAddress">
      <p *ngIf="showError || isInvalid('DstAddress')" style="margin: 0 auto;">Please
        Enter the Destination Address</p>
      <button class="submittBtn" *ngIf="!showSpinner" (click)="sendFrom()">Submit</button>
      <button class="submittBtn" style="width:100px;" *ngIf="showSpinner">
        <mat-spinner style="margin:0 auto; height:20px;width:20px;"></mat-spinner>
      </button>
    </form>
  </div>
</div>