<section class="assets">
    <div class="container">
        <div class="heading">
            <h3>Etherium Assets</h3>
        </div>
        <div class="grid-container">
            <div class="grid-items" *ngFor="let items of ContractData">
                <div class="head">
                    <div class="c-icon"><img src="assets/coin_icon.png" alt="Coin-icon" (click)="gotoReserveOverview(items)"></div>
                    <div>
                        <h4>{{items.name}}</h4>
                        <div class="otheritm">
                            <div class="items-right">
                                <div class="itm-name">Balance</div>
                                <div class="itm-value">{{items.balance}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="otheritm">
                    <div class="items-left">
                        <div class="itm-name">Deposit</div>
                        <div class="itm-value">{{items.totalAToken}}</div>
                    </div>
                    <div class="items-right">
                        <div class="itm-name">Borrow</div>
                        <div class="itm-value">{{items.totalBorrows}}</div>
                    </div>
                </div>

                <div class="otheritm">
                    <div class="items-left">
                        <div class="itm-name">Deposit APY</div>
                        <div class="itm-value">{{items.depositAPY}}</div>
                    </div>
                    <div class="items-right">
                        <div class="itm-name">Borrow APY</div>
                        <div class="itm-value">{{items.variableBorrowAPY}}</div>
                    </div>
                </div>
                <div class="apr-value">
                    <div class="deposit-apr">4.01% APR</div>
                    <div class="borrow-apr">13.77% APR</div>
                </div>

                <div class="loop">
                    <div class="loop-name">Loop APR</div>
                    <div class="loop-value">56.67%</div>
                </div>

                <div class="assets-cta" *ngIf="connected=='false'"><a (click)="openWalletModal()">Connect Wallet</a></div>

                <div class="details">
                    <a (click)="openAssetsModel(items.address)">Details</a>
                </div>

            </div>

        </div>
    </div>
</section>