<app-head-banner (CurrentchainId)="setCurrentchainId($event)"></app-head-banner>
<section class="table-sect mg-top-sub50">
    <div class="container">
        <div class="table_body">
            <div class="head_bx">
                <h3>{{networkName}} assets</h3>
            </div>
            <div class="table_scoll">
                <table class="table" id="assets_table">
                    <thead>
                        <tr>
                            <th>Assets</th>
                            <th>Total supplied</th>
                            <th>Deposit APY</th>
                            <th>Total borrowed</th>
                            <!-- <th>Total deposits</th> -->
                            <th>Borrowed APY, variable</th>
                            <th>Borrowed APY, stable</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="ContractData.length>=0 && networkName=='Mumbai Testnet' && connected">
                        <tr *ngFor="let items of ContractData, let i = index">
                            
                            <td>
                                <div class="user_avtar">
                                    <div class="icon"><img [src]="icons[i]" alt="" height="24px"></div>
                                    <div class="cont_bx">
                                        <h3>{{items.name}}</h3>
                                        <p>{{items.symbol}}</p>
                                    </div>

                                </div>
                            </td>
                            <td>
                                <div class="dt_table">
                                    <h3>${{items.totalSupply}}M</h3>
                                </div>
                            </td>
                            <td>
                                <div class="dt_table">
                                    <h3>{{items.depositAPY}}%</h3>
                                </div>
                            </td>
                            
                            <td>
                                <div class="dt_table">
                                    <h3>${{items.totalBorrows}}M</h3>
                                </div>
                            </td>
                            <td>
                                <div class="dt_table">
                                    <h3>{{items.variableBorrowAPY}}%</h3>
                                </div>
                            </td>
                            <td>
                                <div class="dt_table" style="display:flex;justify-content:space-between;">
                                    <h3>{{items.stableBorrowAPY}}%</h3>
                                    <button class="btn" (click)="goToAsset(items,icons[i])">Details</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <div *ngIf="!connected" style="color:white;padding-left:10px;font:x-large;">Please Connect to the Wallet.</div>
                    <div *ngIf="networkName!='Mumbai Testnet'" style="color:white;padding-left:10px;font:x-large;width:489px;">No Data Available as of now.Please try Connecting to Different Network.</div>
                </table>
            </div>
            <mat-spinner style="margin-left:47%;color:warn;" *ngIf="ContractData.length<=0 && networkName=='Mumbai Testnet' && connected"></mat-spinner>
        </div>
    </div>
</section>