<div *ngIf="connected">
  <app-head-banner (CurrentchainId)="setCurrentchainId($event)"></app-head-banner>
</div>
<section *ngIf="connected" class="dash_sect">




  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeDialog()">&times;</span>
      <h2>Enter the Amount to {{ transactionType }}:</h2>
      <form [formGroup]="Form">
        <input type="text" formControlName="amount">
        <p *ngIf="isInvalid('amount') || showError" style="margin: 0 auto;">Please Enter the Amount to {{
          transactionType }}</p>
        <h2 *ngIf="transactionType==='Withdraw'">Withdraw To:</h2>
        <input type="text" formControlName="withdrawTo" *ngIf="transactionType==='Withdraw'">
        <p *ngIf="transactionType == 'Withdraw' && showError || isInvalid('withdrawTo')" style="margin: 0 auto;">Please
          Enter the Address to {{ transactionType }}</p>
        <button class="submittBtn" (click)="submitt()">Submit</button>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="card_connect_list">
      <div class="card_bx table-sect">
        <div class="table_body">
          <div class="head_bx">
            <h3>Deposits</h3>
          </div>
          <div class="table_scoll">
            <table class="table">
              <thead>
                <tr>
                  <th>Assets</th>
                  <th>Deposits</th>
                  <th>APY</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="!spinnerTimer && networkName=='Mumbai Testnet' && depositedAsset.length>0">
                <tr *ngFor="let items of depositedAsset,let i = index">
                  <td>
                    <div class="user_avtar">
                      <div class="icon"><img src="{{items.icon}}" alt=""></div>
                      <div class="cont_bx">
                        <h3>{{items.name}}</h3>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="dt_table">
                      <h3>{{items.balance}}</h3>
                      <p>{{items.balance}}</p>
                    </div>
                  </td>
                  <td>
                    <div class="dt_table">
                      <h3>
                        {{items.depositAPY}}%</h3>
                    </div>
                  </td>
                  <td>
                  </td>
                  <td>
                    <div class="dt_table">
                      <div class="btn_grp">
                        <button class="btn" style="width: 63.3px;"
                          *ngIf="selectedWithdrawReserve==items.address && showSpinner">
                          <mat-spinner style="margin:0 auto; height:20px;width:20px;"></mat-spinner>
                        </button>
                        <button class="btn" (click)="openDialog(items.address,'Withdraw')"
                          *ngIf="selectedWithdrawReserve!=items.address">
                          Withdraw</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!spinnerTimer && networkName=='Mumbai Testnet' && depositedAsset.length==0">
                <tr>
                  <td colspan="4">
                    <div class="data_notfound">
                      <p>No items found</p>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!spinnerTimer &&  networkName!='Mumbai Testnet'">
                <tr>
                  <td colspan="4">
                    <div class="data_notfound">
                      <p>No items found</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <mat-spinner *ngIf="spinnerTimer"
              style="margin-left: 43%;width: 120px;color:warn;margin-bottom:5px;margin-top:5px;"></mat-spinner>
          </div>
        </div>
      </div>
      <div class="card_bx table-sect">
        <div class="table_body">
          <div class="head_bx">
            <h3>Borrows</h3>
          </div>
          <div class="table_scoll">
            <table class="table">
              <thead>
                <tr>
                  <th>Assets</th>
                  <th>Borrows</th>
                  <th>APY</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="!spinnerTimer && networkName=='Mumbai Testnet' && borrowedAsset.length>0">
                <tr *ngFor="let items of borrowedAsset,let i = index">
                  <td>
                    <div class="user_avtar">
                      <div class="icon"><img src="{{items.icon}}" alt=""></div>
                      <div class="cont_bx">
                        <h3>{{items.name}}</h3>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="dt_table">
                      <h3>{{items.totalBorrows}}</h3>
                    </div>
                  </td>
                  <td>
                    <div class="dt_table">
                      <h3>
                        {{items.variableBorrowAPY}}% </h3>
                    </div>
                  </td>
                  <td>
                  </td>
                  <td>
                    <div class="dt_table">
                      <div class="btn_grp">
                        <button class="btn" style="width: 63.3px;"
                          *ngIf="selectedRepayReserve==items.address && showSpinner">
                          <mat-spinner style="margin:0 auto; height:20px;width:20px;"></mat-spinner>
                        </button>
                        <button class="btn" (click)="openDialog(items.address,'Repay')"
                          *ngIf="selectedRepayReserve!=items.address">
                          Repay</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!spinnerTimer && networkName=='Mumbai Testnet'&& borrowedAsset.length==0">
                <tr>
                  <td colspan="4">
                    <div class="data_notfound">
                      <p>No items found</p>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!spinnerTimer && networkName!='Mumbai Testnet'">
                <tr>
                  <td colspan="4">
                    <div class="data_notfound">
                      <p>No items found</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <mat-spinner *ngIf="spinnerTimer"
              style="margin-left: 43%;width: 120px;color:warn;margin-bottom:5px;margin-top:5px;"></mat-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="dash_connect_sect">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="table-sect">
            <div class="table_body">
              <div class="head_bx">
                <h3>Assets to supply</h3>
              </div>
              <div class="table_scoll">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Assets</th>
                      <th>Current Balance</th>
                      <th>APY</th>
                      <th>Can be collateral</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="!spinnerTimer && networkName=='Mumbai Testnet'">
                    <tr *ngFor="let items of SupplyContractData, let i = index">
                      <td>
                        <div class="user_avtar">
                          <div class="icon"><img [src]="items.icon" alt=""></div>
                          <div class="cont_bx">
                            <h3>{{items['details'].symbol}}</h3>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="dt_table">
                          <h3>{{items.balance}}</h3>
                        </div>
                      </td>
                      <td>
                        <div class="dt_table">
                          <h3>{{items.depositAPY}}%</h3>
                        </div>
                      </td>
                      <td>
                        <div class="dt_table">
                          <h3 *ngIf="items.details['usageAsCollateralEnabled']==true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"
                              fill="none">
                              <mask id="mask0_656_2622" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="25" height="25">
                                <rect x="0.5" y="0.5" width="24" height="24" fill="#D9D9D9" />
                              </mask>
                              <g mask="url(#mask0_656_2622)">
                                <path
                                  d="M10.0504 18.1534L4.71582 12.8188L5.78505 11.7496L10.0504 16.015L19.2158 6.84961L20.285 7.91881L10.0504 18.1534Z"
                                  fill="#07E702" />
                              </g>
                            </svg>
                          </h3>
                        </div>
                      </td>
                      <td>
                        <div class="dt_table">
                          <div class="btn_grp">
                            <button class="btn" style="width: 63.3px;"
                              *ngIf="selectedSupplyReserve==items.address && showSpinner">
                              <mat-spinner style="margin:0 auto; height:20px;width:20px;"></mat-spinner>
                            </button>
                            <button class="btn" (click)="openDialog(items.address,'Supply')"
                              *ngIf="selectedSupplyReserve!=items.address">
                              Supply</button>
                            <button class="btn" (click)="goToAsset(items,icons[i])">Details</button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="!spinnerTimer && networkName!='Mumbai Testnet'">
                    <tr>
                      <td colspan="4">
                        <div class="data_notfound">
                          <p>No items found</p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <mat-spinner *ngIf="networkName=='Mumbai Testnet' && SupplyContractData.length==0" style="margin-left: 43%;
                width: 120px;color:warn;margin-bottom:5px;margin-top:5px;"></mat-spinner>
                <mat-spinner *ngIf="networkName!='Mumbai Testnet' && spinnerTimer" style="margin-left: 43%;
                 width: 120px;color:warn;margin-bottom:5px;margin-top:5px;"></mat-spinner>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="table-sect">
            <div class="table_body">
              <div class="head_bx">
                <h3>Assets to borrow</h3>
              </div>
              <div class="table_scoll">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Assets</th>
                      <th>Available</th>
                      <th>APY</th>
                      <th>Can be collateral</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="!spinnerTimer && networkName=='Mumbai Testnet'">
                    <tr *ngFor="let items of borrowContractData, let i = index">
                      <td>
                        <div class="user_avtar">
                          <div class="icon"><img [src]="items.icon" alt=""></div>
                          <div class="cont_bx">
                            <h3>{{items['details'].symbol}}</h3>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="dt_table">
                          <h3>0</h3>
                        </div>
                      </td>
                      <td>
                        <div class="dt_table">
                          <h3>{{items.variableBorrowAPY}}%</h3>
                        </div>
                      </td>
                      <td>
                        <div class="dt_table">
                          <h3 *ngIf="items.details['usageAsCollateralEnabled']==true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"
                              fill="none">
                              <mask id="mask0_656_2622" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="25" height="25">
                                <rect x="0.5" y="0.5" width="24" height="24" fill="#D9D9D9" />
                              </mask>
                              <g mask="url(#mask0_656_2622)">
                                <path
                                  d="M10.0504 18.1534L4.71582 12.8188L5.78505 11.7496L10.0504 16.015L19.2158 6.84961L20.285 7.91881L10.0504 18.1534Z"
                                  fill="#07E702" />
                              </g>
                            </svg>
                          </h3>
                        </div>
                      </td>
                      <td>
                        <div class="dt_table">
                          <div class="btn_grp">
                            <button class="btn" style="width: 63.3px;"
                              *ngIf="selectedBorrowReserve==items.address && showSpinner">
                              <mat-spinner style="margin:0 auto; height:20px;width:20px;"></mat-spinner>
                            </button>
                            <button class="btn" (click)="openDialog(items.address,'Borrow')"
                              *ngIf="selectedBorrowReserve!=items.address">
                              Borrow</button>
                            <button class="btn" (click)="goToAsset(items,icons[i])">Details</button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="!spinnerTimer && networkName!='Mumbai Testnet'">
                    <tr>
                      <td colspan="4">
                        <div class="data_notfound">
                          <p>No items found</p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <mat-spinner *ngIf="networkName=='Mumbai Testnet' && borrowContractData.length==0" style="margin-left: 43%;
                width: 120px;color:warn;margin-bottom:5px;margin-top:5px;"></mat-spinner>
                <mat-spinner *ngIf="networkName!='Mumbai Testnet' && spinnerTimer" style="margin-left: 43%;
                 width: 120px;color:warn;margin-bottom:5px;margin-top:5px;"></mat-spinner>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<div *ngIf="!connected">
  <section class="head_banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Please connect your wallet</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="dash_sect">
    <div class="container">
      <div class="card_connect_list">
        <div class="card_bx table-sect">
          <div class="table_body">
            <div class="head_bx">
              <h3>Deposits</h3>
            </div>
            <div class="table_scoll">
              <table class="table">
                <thead>
                  <tr>
                    <th>Assets</th>
                    <th>Deposits</th>
                    <th>APY</th>
                    <th>Collateral</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="4">
                      <div class="btn_grp">
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card_bx table-sect">
          <div class="table_body">
            <div class="head_bx">
              <h3>Borrows</h3>
            </div>
            <div class="table_scoll">
              <table class="table">
                <thead>
                  <tr>
                    <th>Assets</th>
                    <th>Borrows</th>
                    <th>APY</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="4">
                      <div class="btn_grp">
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>