 <div class="overlay">
        <div class="head">
            <h2>Connect Wallet</h2>
            <div class="close"><i class="ri-close-line"></i></div>
        </div>
        <div class="content">
            <h3>Select preffered network</h3>
            <div class="dropdown">
                <p>BNB Chain</p>
                <div class="expand"><i class="ri-arrow-down-s-line"></i></div>
            </div>
            <div class="wallet-option">
                <div class="wlt-type">
                    <div class="icon"><img src="/images/WalletConnect-Logo.png" alt=""></div>
                    <h4>Browser Wallet</h4>
                    <p>(Metamask, OKX, Trustwallet)</p>
                </div>
                <div class="wlt-type">
                    <div class="icon"><img src="/images/WalletConnect-Logo.png" alt=""></div>
                    <h4>Wallet Connect</h4>
                    <p>(Metamask, OKX, Trustwallet)</p>
                </div>
            
                
            </div>
            <div class="faq">
                <p>Need help connecting a wallet? Read our FAQ</p>
                <p>Disclaimer: Wallets are provided by external Providers and by selecting you agree to terms of those Providers.
                    Your access to the wallet might be reliant on the External Provider being operational.</p>
            </div>
        </div>
    </div>
