<div>
    <section class="header">
        <div class="container">
            <nav class="navbar">
                <!--            logo-->
                <a href="#" class="logo"><img src="assets\alphalogo.png"></a>
                <div class="logo"></div>
                <ul class="nav-links">
                    <li><a href="">Market</a></li>
                    <li><a href="">Dashboard</a></li>
                    <li><a href="">Manage</a></li>
                    <li><a href="">Bridge</a></li>
                    <li><a href="">Buy</a></li>
                    <li><a href="">DAO</a></li>
                    <li><a href="">More</a></li>
                </ul>
                <div class="cta">
                    <!--                button-->
                    <div class="exchange"><a href="#">Etherium</a>

                    </div>
                    <div class="connect" *ngIf="!connected"><a (click)="openWalletModal()">Connect Wallet</a>
                        <h2 *ngIf="connected" ></h2>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section class="hero">
        <!--        hero section-->
        <div class="container">
            <div class="title">
                <h1 *ngIf="connected" [TruncateText]="walletAddress" [startLength]="5" [endLength]="18"></h1>
                <h1 *ngIf="!connected">Please connect your wallet</h1>
                <div class="connect" *ngIf="!connected"><a (click)="openWalletModal()">Connect Wallet</a></div>
            </div>
        </div>
    </section>

    <section class="chain-exchain">
        <div class="container">
            <div class="chainbx">
                <p>Etherium</p>
                <i class="ri-arrow-down-s-line"></i>
            </div>
        </div>
    </section>
    <section class="stats">
        <!--        stats section-->
        <div class="container">
            <div class="statsbx">
                <div class="heading">
                    <h3>Stats Overview</h3>
                </div>
                <table>
                    <tr>
                        <th>Total market size</th>
                        <th>Total dLP vaule locked</th>
                        <th>Alpha price</th>
                        <th>Free paids to lockers <span><i class="ri-information-line"></i></span></th>
                        <th>Maximum lock ARP <span><i class="ri-information-line"></i></span></th>
                        <th>Other chains</th>
                    </tr>
                    <tr>
                        <td>$376.52M</td>
                        <td>$0</td>
                        <td>$0.25</td>
                        <td>$12.95M</td>
                        <td><span><i class="ri-information-line"></i></span>0%</td>
                        <td><span><i class="ri-information-line"></i></span>0%</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <router-outlet></router-outlet>
</div>