<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" fill="none">
          <path
            d="M25.7029 17.6859L15.6181 34.9537H41.2656L43.7324 39.1981H8L25.7029 8L40.8665 34.1919H26.1383L30.8905 26.0296L25.7029 17.6859Z"
            fill="url(#paint0_radial_639_1041)" />
          <defs>
            <radialGradient id="paint0_radial_639_1041" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
              gradientTransform="translate(32.352 19.8194) rotate(139.329) scale(32.1072 36.7739)">
              <stop stop-color="white" />
              <stop offset="0.0001" stop-color="#2CECF2" />
              <stop offset="1" stop-color="#1EA2F4" />
            </radialGradient>
          </defs>
        </svg>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/market" >Market</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/dashboard-wallet-connected">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/manage-wallet-connected">Manage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/bridge">Bridge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Buy</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              DAO
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
            </ul>
          </li>
        </ul>
        <div class="btn_grp">          
           <button *ngIf="connected" class="btn btn_cpy"><span><img src="assets/images/ic.png" alt=""></span><span
              [TruncateText]="walletAddress" [startLength]="4" [endLength]="4"></span></button>
          <button class="btn" *ngIf="!connected" (click)="connectWallet()">Connect Wallet</button>
        </div> 
       </div> 
   </div> 
  </nav>
</header>
<router-outlet></router-outlet>